*.class
*.war
*.log
*.pdf
.#*


CVS
.cvsignore
.svn

Thumbs.db
register.ini
work
classes
java/frienddata.js
_*.java



.settings
c++/config/*.*
c++/bin/*
c++/obj/*

*.dll
*.db
*.lnk

*.exp
*.pdb
*.idb
*.pch
*.dep
*.manifest